body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(53, 53, 255);
  position: relative;
}
.rand-button {
  position: absolute;
  z-index: 10;
}
.header {
  text-align: center;
  font-size: larger;
  color: rgb(255, 209, 84);
}
.win-fail {
  margin-top: 70px;
  top: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 10%;
  right: 10%;
  color: whitesmoke;
}
.win-fail button {
  background-color: rgb(255, 209, 84);
  border-radius: 30px;

  border: none;
  font-size: large;
  width: 150px;
  height: 55px;
}

.board {
  margin-top: 40px;
  z-index: 0;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 10%;
  right: 10%;
}
:root {
  --rectSize: 50px;
}
.rectangle {
  opacity: 0; /* disables fade-out animation */
  user-select: none;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  color: rgb(231, 231, 231);
  margin: 2px;
  font-size: x-large;
  border-radius: 10px;
  width: var(--rectSize);
  height: var(--rectSize);
  animation: 1s fade-out;
  animation-fill-mode: forwards;
  border: 3px solid rgb(231, 231, 231);
  border-radius: 10px;
}
/* @keyframes fade-out {
  0% {
    background-color: rgb(231, 231, 231);
  }
  100% {
    background-color: rgb(53, 53, 255);
    opacity: 0;
  }
} */

.rectangle-playable {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: x-large;
  background-color: rgb(53, 53, 255);
  margin: 5px;
  border: 3px solid rgb(125, 125, 226);
  border-radius: 10px;
  width: var(--rectSize);
  height: var(--rectSize);

  animation: 1s fade-in;
  animation-fill-mode: forwards;
}
.rectangle-playable:hover {
  border-color: rgb(246, 246, 246);
}

.rectangle-clicked {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 53, 255);
  color: rgb(53, 53, 255);
  opacity: 0;
  margin: 5px;
  border-radius: 10px;
  width: var(--rectSize);
  height: var(--rectSize);
  border: 3px solid rgb(125, 125, 226);
  border-radius: 10px;
}
.rectangle-hide-text {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: whitesmoke;
  border: 0;
  opacity: 1;
  margin: 5px;
  border-radius: 10px;

  width: var(--rectSize);
  height: var(--rectSize);
  border: 3px solid rgb(245, 245, 245);
  border-radius: 10px;
}
.rectangle-playable.rectangle-hide-text {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);

  margin: 5px;
  border-radius: 10px;
  width: var(--rectSize);
  height: var(--rectSize);
}
.rectangle-playable.rectangle-hide-text:hover {
  border-color: rgb(245, 245, 245);
}
@media screen and (max-width: 535px) {
  :root {
    --rectSize: 35px;
  }
  .rectangle-playable {
    font-size: large;
  }
  .board {
    margin-top: 0;
  }
}
